{
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSameLine": true,

  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "phpVersion": "8.1",
        "braceStyle": "psr-2"
      }
    }
  ]
}
